/* VARIABLES */
$nav-bar-selected-color: #98AFC7;
$border-color: #e7e7e7;
$font-color: #6D7B8D;

/* NAV BAR */
.topnav {
  overflow: hidden;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin: auto;
  width: 80%;
  position: sticky;
  top: 0;
  background-color: white;

  a {
    float: right;
    color: $font-color;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;

    &:hover:not(.active-link):not(.logo) {
      color: black;
      transition: color 0.8s;
    }

    &.active-link {
      color: black;
    }

    &.logo{
        float: left;
        cursor: default;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bolder;
    }

  }

}

h1 {
  color: $font-color;
  text-align: center;
  cursor: default;
}
